<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Django</title>
</head>
<body>
    <header>
        <h1>Header de tu proyecto</h1>
    </header>

    <div>
        <h2>Datos de tu proyecto:</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.date }}</td>
                    <td>{{ task.state }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <p>Footer de tu proyecto</p>
    </footer>
</body>
</html>