body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Fuente de Google Fonts; puedes cambiarla según tu preferencia */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif; /* Fuente de Google Fonts; puedes cambiarla según tu preferencia */
}
