/* Estilos generales para la página */
body {
    font-family: 'Roboto', sans-serif;
}

.task-container {
    max-width: 800px;
    margin: 0 auto;
}

.task-tabs {
    margin-bottom: 20px;
}

.task-tabs button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.task-tabs button:hover {
    background-color: #007bff;
    color: #fff;
}

.task-tabs button.active {
    background-color: #007bff;
    color: #fff;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn-add {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.task-description {
    white-space: pre-wrap; /* Esto respeta los saltos de línea */
}

.task-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.edit-button,
.delete-button,
.mark-complete-button,
.mark-pending-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #ffb800;
    color: #fff;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.mark-complete-button {
    background-color: #28a745;
    color: #fff;
}

.mark-pending-button {
    background-color: #17a2b8; /* Color diferente para "Marcar como pendiente" */
    color: #fff;
}

.mark-complete-button:hover,
.mark-pending-button:hover,
.edit-button:hover,
.delete-button:hover {
    opacity: 0.8;
}

.modal {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px; /* Altura mínima para el modal */
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

input, textarea {
    margin: 8px 0; /* Agregar margen para no estar pegados a los bordes */
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

textarea {
    height: 60vh; /* Asegura que el textarea no se desborde */
    max-height: 60vh;
    resize: none;
}

/* Asegura que el modal y su contenido estén correctamente posicionados */
textarea:focus {
    border-color: #007bff; /* Cambiar el color del borde al hacer foco */
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal input, .modal textarea {
    margin: 8px 0; /* Añadir margen para separación */
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho */
}

.btn-save,
.btn-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save {
    background-color: #007bff;
    color: #fff;
}

.btn-cancel {
    background-color: #f8f9fa;
    color: #333;
}