/* Task.css */
.task-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .task-form {
    display: flex;
    flex-direction: column;
  }
  
  .task-form input,
  .task-form textarea {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .task-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-form button:hover {
    background-color: #0056b3;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .task-list button {
    margin-right: 10px;
  }
  
  /* Estilos Condicionales */
  .task-completed {
    color: green;
  }
  
  .task-incomplete {
    color: red;
  }
  
  /* Estilos para las pestañas */
  .task-tabs {
    margin-bottom: 20px;
  }
  
  .task-tabs button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .task-tabs button.active {
    background-color: #b0ce38;
    color: #fff;
    border: 1px solid #b0ce38;
  }

  .task-tabs button:hover
  {
    background-color: #a6cb14;
  }

  .change_state_button button
  {
    background-color: #b0ce38;
  }

  .change_state_button button:hover
  {
    background-color: #a6cb14;
  }